@mixin markdown-typography {
  font-weight: 300;
  font-style: normal;
  font-family: $font-family-monospace;
  color: $body-color;

  strong {
    font-weight: bold;
  }
}

@mixin markdown-headings {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $headings-font-family;
    float: none;
    margin: 0;
    padding: 0;
  }

  h1 {
    position: relative;
    display: inline-block;
    display: table-cell;
    padding: $spacer 0 $spacer * 3;
    overflow: hidden;

    &:after {
      font-family: $font-family-monospace;
      content: "====================================================================================================";
      position: absolute;
      bottom: $spacer;
      left: 0;
    }

    & + * {
      margin-top: 0;
    }

    & a:hover {
      text-decoration: none;
    }    
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    position: relative;
    margin-bottom: $spacer;

    &:before {
      content: "## ";
      display: inline;
    }
  }

  h3:before {
    content: "### ";
  }

  h4:before {
    content: "#### ";
  }

  h5:before {
    content: "##### ";
  }

  h6:before {
    content: "###### ";
  }
}

@mixin markdown-hr {
  hr {
    position: relative;
    height: $spacer;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    border: 0;
    margin-bottom: $spacer;
    background-color: transparent;

    &:after {
      content: "------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------";
      position: absolute;
      top: 0;
      left: 0;
      font-size: $font-size-base;
      line-height: $spacer;
      width: 100%;
      word-wrap: break-word;
    }
  }
}

@mixin markdown-blockquote {
  blockquote {
    float: none;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: $spacer;
    margin-bottom: $spacer;
    position: relative;
    padding-left: 17px;
    padding-left: 2ch;
    overflow: hidden;

    &:after {
      content: ">\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>";
      white-space: pre;
      position: absolute;
      top: 0;
      left: 0;
      font-size: $font-size-base;
      line-height: $line-height-base;
    }
  }
}

@mixin markdown-paragraph {
  word-wrap: break-word;

  p {
    float: none;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    // margin-top: $spacer;
    margin-bottom: $spacer;
  }
}

@mixin markdown-list {
  ul,
  ol {
    margin-top: $spacer;
    margin-bottom: $spacer;
  }

  li {
    position: relative;
    display: block;
    padding-left: 34px;
    padding-left: 4ch;

    p {
      margin-bottom: $spacer / 2;
    }

    &:after {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  ul > li:after {
    content: "*";
  }

  ol {
    counter-reset: ol;
  }

  ol > li:after {
    content: counter(ol) ".";
    counter-increment: ol;
  }
}
