{% comment %}
#
#   Liquid variables are created at the top to keep the source DRY and clean.
#   Idea by ericcarlisle.com
#
#   Variables › {{ url }} › site.url + site.baseurl
#   Variables › {{ description }} › excerpt, page.meta_description, or site.description
#   Variables › {{ title }} › page.title
#
{% endcomment %}{% capture ignore %}

{% assign url = site.baseurl | prepend: site.url %}

{% capture description %}{% if page.meta_description %}{{ page.meta_description }}{% elsif page.teaser %}{{ page.teaser }}{% elsif page.excerpt %}{{ page.excerpt }}{% elsif site.description %}{{ site.description }}{% endif %}{% endcapture %}
{% assign description = description | strip_html | escape | strip %}

{% capture title %}{% if page.meta_title %}{{ page.meta_title}}{% elsif page.title %}{{ page.title }}{% else %}{{ site.title | strip_html | strip }}{% endif %}{% endcapture %}

{% assign title = title | strip_html | escape | strip_newlines %}

{% endcapture %}<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ title }}</title>

	<!-- Search Engine Optimization -->
	<meta name="description" content="{{ description }}">
  	{% if site.google_site_verification %}<meta name="google-site-verification" content="{{ site.google_site_verification}}">{% endif %}
	{% if site.bing_webmastertools_id %}<meta name="msvalidate.01" content="{{ site.bing_webmastertools_id }}" >{% endif %}
	{% if site.yandex_webmaster_id %}<meta name="yandex-verification" content="{{ site.yandex_webmaster_id }}" />{% endif %}
	{% if site.google_author %}<link rel="author" href="{{ site.google_author }}">{% endif %}
	{% if site.alexa_verify_id %}<meta name="alexaVerifyID" content="{{ site.alexa_verify_id }}">{% endif %}
	{% if page.noindex == true or layout.noindex == true %}<meta name="robots" content="noindex">{% endif %}

	<!-- Facebook Open Graph -->
	<meta property="og:title" content="{{ title }}">
	<meta property="og:description" content="{{ description }}">
	<meta property="og:url" content="https:{{ url }}{{ page.url }}">
	<meta property="og:locale" content="{% if site.og_locale == nil %}en_US{% else %}{{ site.og_locale }}{% endif %}">
	<meta property="og:type" content="website">
	<meta property="og:site_name" content="{{ site.title }}">
	<meta property="og:image" content="https:{{ site.urlimg }}{{site.og_image}}">
	{% if site.socialmedia.facebook %}<meta property="article:author" content="https://www.facebook.com/{{ site.socialmedia.facebook }}">{% endif %}


	{% if site.socialmedia.twitter %}
	<!-- Twitter -->
	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="{{ site.socialmedia.twitter }}">
	<meta name="twitter:creator" content="{{ site.socialmedia.twitter }}">
	<meta name="twitter:title" content="{{ title }}">
	<meta name="twitter:description" content="{{ description }}">
	{% if page.image.title %}<meta name="twitter:image" content="{{ site.urlimg }}{{ page.image.title }}">{% endif %}
	{% endif %}

	<link type="text/plain" rel="author" href="{{ url}}/humans.txt">

	{% include _favicon.html %}

	{% unless page.style == NULL %}
	<style type="text/css">{{ page.style }}</style>
	{% endunless %}
