{% if page.header == NULL and page.header.image_fullwidth == NULL and page.header.pattern == NULL and page.header.background-color == NULL and page.header.title == NULL %}

<div id="masthead-no-image-header">
	<div class="row">
		<div class="small-12 columns">
			<a id="logo" href="{{ site.url }}" title="{{ site.title }} – {{ site.slogan }}">
				{% include _logo.html %}
			</a>

			<div class="gauges">
                <canvas id="linear" data-type="linear-gauge"
						data-width="200"
						data-height="400"
						data-border-radius="20"
						data-borders="false"
                        data-bar-width="10"
						data-bar-stroke-width="0"
						data-minor-ticks="10"
						data-min-value="35"
						data-max-value="42"
						data-major-ticks="35,36,37,38,39,40,41,42"
						data-value="38.5"
						data-units="°C"
						data-highlights="false"
						data-color-value-box-shadow="false"
						data-animation-rule="bounce"
						data-animation-duration="750"
						data-value-box-border-radius="0"
                        data-color-border-shadow="transparent"
                        data-color-major-ticks="#777"
                        data-color-numbers="#777"
                        data-border-shadow-width="7"
				></canvas>
                <canvas id="radial" data-type="radial-gauge"
                        data-width="400"
                        data-height="400"
                        data-borders="false"
                        data-major-ticks="0,20,40,60,80,100,120,140,160,180,200,220"
                        data-minor-ticks="2"
                        data-stroke-ticks="true"
                        data-highlights='[{ "from": 160, "to": 220, "color": "rgba(255,0,0,.6)" }]'
                        data-min-value="0"
                        data-max-value="220"
                        data-value="70"
                        data-units="Km/h"
                        data-title="Speed"
                        data-color-value-box-shadow="false"
                        data-animation-rule="linear"
                        data-animation-duration="750"
                        data-animated-value="true"
                        data-value-box-border-radius="0"
                        data-color-border-shadow="transparent"
                        data-color-major-ticks="#777"
                        data-color-numbers="#777"
                        data-border-shadow-width="7"
                ></canvas>
			</div>

		</div><!-- /.small-12.columns -->
	</div><!-- /.row -->
</div><!-- /#masthead -->

{% if page.breadcrumb == true %}
{% include _breadcrumb.html %}
{% endif %}


{% elsif page.header.title %}

<div id="masthead-with-text" style="{% if page.header.background-color %}background: {{ page.header.background-color }};{% endif %} {% if page.header.image_fullwidth %}{% elsif page.header.pattern %}background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), url('{{ site.urlimg }}/{{ page.header.pattern }}'){% endif %}">
	<div class="row">
		<div class="small-12 columns">
			<div class="masthead-title">{{ page.header.title }}</div>
		</div><!-- /.small-12.columns -->
	</div><!-- /.row -->
</div><!-- /#masthead -->

{% if page.breadcrumb == true %}
{% include _breadcrumb.html %}
{% endif %}

{% if page.header.caption_url && page.header.caption %}
<div class="masthead-caption">
	<a href="{{ page.header.caption_url }}">{{ page.header.caption }}</a>
</div>
{% elsif page.header.caption %}
<div class="masthead-caption">
	{{ page.header.caption }}
</div>
{% endif %}


{% elsif page.header.image_fullwidth %}

<div id="masthead">
	<div class="row">
		<div class="small-12 columns">
			<a id="logo" href="{{ site.url }}" title="{{ site.title }} – {{ site.slogan }}">
				{% include _logo.html %}
			</a>
		</div><!-- /.small-12.columns -->
	</div><!-- /.row -->
</div><!-- /#masthead -->

{% if page.breadcrumb == true %}
{% include _breadcrumb.html %}
{% endif %}

{% if page.header.caption_url && page.header.caption %}
<div class="masthead-caption">
	<a href="{{ page.header.caption_url }}">{{ page.header.caption }}</a>
</div>
{% elsif page.header.caption %}
<div class="masthead-caption">
	{{ page.header.caption }}
</div>
{% endif %}





{% elsif page.header.pattern %}

<div id="masthead-with-pattern" style="background: url('{{ site.urlimg }}/{{ page.header.pattern }}')">
	<div class="row">
		<figure class="small-12 columns">
			<img src="{{ site.urlimg }}/{{ page.header.image }}" alt="{{ site.title }}">
		</figure><!-- /.small-12.columns -->
	</div><!-- /.row -->
</div><!-- /#masthead -->

{% if page.breadcrumb == true %}
{% include _breadcrumb.html %}
{% endif %}

{% if page.header.caption_url && page.header.caption %}
<div class="masthead-caption">
	<a href="{{ page.header.caption_url }}">{{ page.header.caption }}</a>
</div>
{% elsif page.header.caption %}
<div class="masthead-caption">
	{{ page.header.caption }}
</div>
{% endif %}





{% elsif page.header.background-color %}

<div id="masthead-with-background-color" style="background: {{ page.header.background-color }};">
	<div class="row">
		<figure class="small-12 columns">
			<img src="{{ site.urlimg }}/{{ page.header.image }}" alt="{{ site.title }}">
		</figure><!-- /.small-12.columns -->
	</div><!-- /.row -->
</div><!-- /#masthead -->

{% if page.breadcrumb == true %}
{% include _breadcrumb.html %}
{% endif %}

{% if page.header.caption_url && page.header.caption %}
<div class="masthead-caption">
	<a href="{{ page.header.caption_url }}">{{ page.header.caption }}</a>
</div>
{% elsif page.header.caption %}
<div class="masthead-caption">
	{{ page.header.caption }}
</div>
{% endif %}





{% elsif page.header == false %}

{% if page.breadcrumb == true %}
{% include _breadcrumb.html %}
{% endif %}

{% endif %}