<div class="orgs">
    <div class="org lohika">
        <a href="http://www.lohika.com/" target="_blank" title="Visit Lohika company web site...">
            <img src="{{site.url}}/images/logos/lohika.svg" alt="Visit Lohika company web site...">
        </a>
        <p>
            Special thanks to Lohika company for supporting this product development.<br>
            Lohika - is the best place to develop great products!
        </p>
    </div>
    <div class="org saucelabs">
        <a href="https://saucelabs.com/" target="_blank" title="Visit SauceLabs web site...">
            <img src="{{site.url}}/images/logos/saucelabs.png" alt="Visit SauceLabs web site...">
        </a>
        <p>
            Special thanks to SauceLabs project for supporting this product testing!<br>
            And for supporting other OpenSource projects.
        </p>
    </div>
    <div class="org github">
        <a href="https://github.com/" target="_blank" title="Visit GutHub web site...">
            <img src="{{site.url}}/images/logos/github.png" alt="Visit GutHub web site...">
        </a>
        <p>
            Special thanks to GitHub - the best platform for OpenSource social coding ever!<br>
            And, of course, to its amazing community of <a href="https://github.com/Mikhus/canvas-gauges/graphs/contributors">contributors</a>.
        </p>
    </div>
</div>
