@charset "utf-8";
/* TOC

- Adjustments: Video Layout
- Navigation
- Search
- Masthead
- Masthead › small-only
- Masthead › medium-only
- Masthead › large-only
- Masthead › xlarge-up
- Breadcrumb
- Meta
- Jump to top
- Footer
- Subfooter
- CSS-Classes to add margin at top or bottom

*/



/* Adjustments: Video Layout
------------------------------------------------------------------- */

body.video,
body.video #masthead-no-image-header { background: #000; }
body.video #masthead-no-image-header { margin-bottom: 60px; }
body.video h1,
body.video h2,
body.video h3,
body.video h4,
body.video h5,
body.video h6,
body.video p,
body.video a,
body.video blockquote:before,
body.video blockquote:after,
body.video cite a { color: #fff; }
body.video cite a:visited { color: #fff; }
body.video cite { color: #fff; }



/* Navigation
------------------------------------------------------------------- */

#navigation {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.2);
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.2);
}



/* Search
------------------------------------------------------------------- */

.no-js form#search {
  display: none;
}



/* Masthead
------------------------------------------------------------------- */

#masthead {
    background-color: $primary-color;
}
#masthead-no-image-header {
    background: $primary-color url(/images/circuit.svg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#masthead-with-text {
    text-align: center;
    font-size: rem-calc(54);
    font-family: $header-font-family;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 0 2px 3px rgba(0,0,0,.4);
}
#masthead-no-image-header {
    height: 450px;
}
#masthead-no-image-header #logo img {
    margin-top: 60px;
}

/* Masthead › small-only
------------------------------------------------------------------- */

@media #{$small-only} {
    #logo img {
        display: none;
    }
    #masthead {
        height: 200px;
    }
    #masthead-with-pattern {
        padding: 15px 0;
    }
    #masthead-with-background-color {
        padding: 15px 0;
    }
    #masthead-with-text {
        height: 220px;
        padding: 30px 0;
        font-size: rem-calc(36);
    }
    #masthead-no-image-header {
        display: none;
    }
}


/* Masthead › medium-only
------------------------------------------------------------------- */

@media #{$medium-only} {
    #logo img {
        margin-top: 60px;
    }
    #masthead {
        height: 280px;
    }
    #masthead-with-pattern {
        padding: 20px 0;
    }
    #masthead-with-background-color {
        padding: 20px 0;
    }
    #masthead-with-text {
        padding: 60px 0;
        height: 300px;
    }
}


/* Masthead › large-only
------------------------------------------------------------------- */

@media #{$large-only} {
    #logo img {
        margin-top: 80px;
    }
    #masthead {
        height: 310px;
    }
    #masthead-with-pattern {
        padding: 30px 0;
    }
    #masthead-with-background-color {
        padding: 30px 0;
    }
    #masthead-with-text {
        height: 330px;
        padding: 60px 0;
    }
}


/* Masthead › xlarge-up
------------------------------------------------------------------- */

@media #{$xlarge-up} {
    #logo img {
        margin-top: 110px;
    }
    #masthead {
        height: 250px;
    }
    #masthead-with-pattern {
        padding: 45px 0;
    }
    #masthead-with-background-color {
        padding: 45px 0;
    }
    #masthead-with-text {
        padding: 95px 0;
        height: 400px;
    }
}


#title-image-small {
    height: 240px;
}
#title-image-large {
    height: 520px;
}
#title-image-index-small {
    height: 120px;
}
#title-image-index-large {
    height: 260px;
}



/* Breadcrumb
------------------------------------------------------------------- */

#breadcrumb {
    background: scale-color($grey-1, $lightness: 55%);
    border-top: 1px solid scale-color($grey-1, $lightness: 45%);
    border-bottom: 1px solid scale-color($grey-1, $lightness: 45%);
}
.breadcrumbs>.current {
  font-weight: bold;
}


/* Meta
------------------------------------------------------------------- */

#page-meta, #page-meta a {
    color: $grey-5;
}

#page-meta .button {
    background: $grey-5;
    border: 0;
}
#page-meta .button {
    color: #fff;
}
#page-meta .button:hover {
    background: $primary-color;
}
.meta-info p {
  font-size: rem-calc(13);
  color: scale-color($grey-1, $lightness: 40%);
}
  .meta-info a {
    text-decoration: underline;
    color: scale-color($grey-1, $lightness: 40%);
  }
  .meta-info a:hover {
    text-decoration: none;
    color: $secondary-color;
  }



/* Jump to top
------------------------------------------------------------------- */

#up-to-top {
    padding:0 0 0 10px 0;
}
#up-to-top a {
    font-size: 24px;
    padding: 5px;
    border-radius: 3px;
}
#up-to-top a:hover {
    background: $grey-2;
}



/* Footer
------------------------------------------------------------------- */

#footer-content p,
#footer-content li {
    font-size: rem-calc(13);
    font-weight: 300;
}

#footer {
    padding-top: 30px;
    padding-bottom: 20px;
    background: $footer-bg;
    color: $footer-color;
    }

    #footer a {
        color: $footer-link-color;
    }
    #footer h4,
    #footer h5 {
        letter-spacing: 1px;
        color: #fff;
        text-transform: uppercase;
    }



/* Subfooter
------------------------------------------------------------------- */

#subfooter {
    background: $subfooter-bg;
    color: $subfooter-color;
    padding-top: 15px;
}

#subfooter-left ul.inline-list {
    float: left;
}

.credits a {
    color: $subfooter-link-color;
    border: 0;
    text-transform: uppercase;
    &:hover {
        color: #fff;
  }
}

.social-icons {
    margin-bottom: 10px !important;

// Beware of SCSS-Syntax here
  li {
    padding: 0 0 20px 0;
  }
  a {
    font-size: rem-calc(23);
    display: block;
    width: 36px;
    border-radius: 50%;
    color: $subfooter-bg;
    background: $subfooter-color;
    text-align: center;
    &:hover {
      background: $subfooter-bg;
      color: #fff;
    }
  }
}



/* CSS-Classes to add margin at top or bottom
------------------------------------------------------------------- */

.t10 { margin-top: 10px !important; }
.t15 { margin-top: 15px !important; }
.t20 { margin-top: 20px !important; }
.t30 { margin-top: 30px !important; }
.t50 { margin-top: 50px !important; }
.t60 { margin-top: 60px !important; }
.t70 { margin-top: 70px !important; }
.t80 { margin-top: 80px !important; }
.t90 { margin-top: 90px !important; }

.b15 { margin-bottom: 15px !important; }
.b20 { margin-bottom: 20px !important; }
.b30 { margin-bottom: 30px !important; }
.b60 { margin-bottom: 60px !important; }

.l15 { margin-left: 15px !important; }
.r15 { margin-right: 15px !important; }

.pl20 { padding-left: 20px !important; }
.pr5  { padding-right: 5px !important; }
.pr10 { padding-right: 10px !important; }
.pr20 { padding-right: 20px !important; }

.frontpage-widget a {
    /*border: 1px dotted #ccc;*/
    margin: 5px;
    padding: 5px;
    display: block;
    min-height: 250px;
    text-decoration: none;
    border-bottom: 0 !important;
}
.frontpage-widget a:hover {
    transition: none !important;
    text-decoration: none !important;
    border-bottom: 0 !important;
}

.frontpage-widget a p.text-center {
    max-width: 250px;
    margin: auto;
    color: $text-color;
}

article ul li {
    margin-top: .5em;
}

.toc ul li {
    margin-top: 0;
}

#logo svg path {
    fill: #fff;
}
#logo svg {
    height: 120px;
    margin-top: 60px;
    -webkit-filter: drop-shadow(2px 2px 2px #333 );
    filter: drop-shadow(2px 2px 2px #333 );
}

#masthead-no-image-header {
    overflow: hidden;
}
#masthead-no-image-header .gauges {
    text-align: center;
}
#masthead-no-image-header .gauges canvas {
    margin-top: 60px;
    margin-left: 50px;
    cursor: pointer;
    cursor: hand;
    position: relative;
    top: 0;

    -moz-transition: top .3s ease-in-out;
    -o-transition: top .3s ease-in-out;
    -webkit-transition: top .3s ease-in-out;
    -ms-transition: top .3s ease-in-out;
    transition: top .3s ease-in-out;
}
#masthead-no-image-header .gauges canvas:hover {
    top: -200px;
}

.breadcrumbs a.current span:before {
    margin-right: 5px;
}

#header-home {
    background: $ci-3;
    display: table;
    min-height: 130px;
    width: 100%;
}
#header-home .row {
    h1, h2, h3, h4, h5, h6 {
        padding:0;margin:0;
        line-height: normal;
    }

    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 30px;
}
#header-home .row .middle * {
    color: $text-color;
    text-shadow: 1px 1px 3px $grey-0;
}

.footer-icons li{
    margin-left: 5px;
}
.footer-icons a {
    text-decoration: underline;
}
.footer-icons a:before {
    margin-right: 10px;
    text-decoration: none;
}
// tabs
.tabs-container {
    margin: 0 auto;
    width: 50%;
    border: 25px solid rgba(255,230,106,1);
    background: #fff;
    overflow: hidden;
    position: absolute;
    z-index: 2;
}
.tabs-container .icon-circle-with-cross {
    position: absolute;
    font-size: 24px;
    cursor: pointer;
    right: 5px;
    color:#999;
}
.tabs-container .icon-circle-with-cross:hover {
    color:#222
}
.tabs-container input {
    visibility: hidden;
}
.tabs-container label {
    background: #fff;
    color: #888;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 1em;
    height: 2.5em;
    line-height: 2.5em;
    padding: 0 1.5em;
    text-align: center;
}
.tabs-container input:hover + label {
    background: $grey-0;
    color: #222;
}
.tabs-container input:checked + label {
    background: $grey-0;
    color: #444;
    position: relative;
    z-index: 6;
}
.tabs-content {
    min-height: 20em;
    position: relative;
    width: 100%;
    z-index: 5;
}
.tabs-content pre {
    width: 100%;
    border: 0 !important;
    opacity: 0;
    padding: 10px 15px;
    position: absolute;
    z-index: -100;
    overflow: auto;
    height: 100%;
}
.tabs-container input.tab-html:checked ~ .tabs-content .tab-html-content,
.tabs-container input.tab-js:checked ~ .tabs-content .tab-js-content {
    opacity: 1;
    z-index: 100;
}
input.visible {
    visibility: visible !important;
}
#shade-cover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: rgba(36,101,192, .85);
}
@media #{$small-only} {
    .tabs-container {
        width: 100% !important;
        left:0 !important;
    }
}
@media #{$medium-only} {
    .tabs-container {
        width: 75% !important;
    }
}
.example {
    text-align: center;
}
.example p {
    font-style: italic;
}
.info {
    width: 100%;
    padding: 10px;
    background-color: #eaa;
    text-align: center;
}

// thanks slick slider
/* Slider */

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}
.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    [dir="rtl"] & {
        float: right;
    }
    img {
        display: block;
    }
    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}
.slick-arrow.slick-hidden {
    display: none;
}

.thanks {
    background: $grey-4;
}

.thanks .row {
    padding: 30px 0;
}

.thanks .org img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    height: 50px;
    opacity: .8;
    margin-bottom: 30px;

    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
.thanks .org img:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    opacity: 1;
}
.thanks button {
    display: none !important;
}

.thanks ul.slick-dots {
    padding:0;
    margin:20px 0 0 0;
    text-align: left;
}
.thanks ul.slick-dots li {
    display: inline-block;
    list-style-type: none;
}
.thanks ul.slick-dots li:before {
    content: "•";
    display: block;
    width: 20px;
    height: 20px;
    color: $grey-7;
    cursor: pointer;
    font-size: 1.5em;
}
.thanks ul.slick-dots li.slick-active:before {
    color: $grey-9;
}
.thanks p {
    a {
        color: $grey-10;
        border: 0 !important;
        font-weight: normal !important;
        text-decoration: underline !important;
        -webkit-transition: none !important;
        -moz-transition: none !important;
        -o-transition: none !important;
        transition: none !important;
    }
    color: $grey-9;
    font-size: 1.1em;
    font-style: italic;
}
.thanks *:focus {
    outline: none;
}

.frontpage-content {
    h1,h2,h3,h4,h5 {
        margin-top: 0;
    }
    .frontpage-widget {
        margin-top: 30px;
    }
}

.frontpage-widget {
    .widget-icon {
        background-color: #fff;
        border-radius: 5px;
    }
}

.panel, code, pre {
    background-color: $grey-0 !important;

    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
}