<div class="row">
    <div class="medium-6 columns example">
        <canvas data-type="radial-gauge"
                data-width="300"
                data-height="300"
                data-units="Km/h"
                data-min-value="0"
                data-max-value="220"
                data-major-ticks="0,20,40,60,80,100,120,140,160,180,200,220"
                data-minor-ticks="2"
                data-stroke-ticks="true"
                data-highlights='[{"from": 160, "to": 220, "color": "rgba(200, 50, 50, .75)"}]'
                data-color-plate="#fff"
                data-border-shadow-width="0"
                data-borders="false"
                data-needle-type="arrow"
                data-needle-width="2"
                data-needle-circle-size="7"
                data-needle-circle-outer="true"
                data-needle-circle-inner="false"
                data-animation-duration="1500"
                data-animation-rule="linear"
        ></canvas>
    </div>
    <div class="medium-6 columns example">
        <canvas data-type="radial-gauge"
                data-width="300"
                data-height="300"
                data-units="Km/h"
                data-min-value="0"
                data-start-angle="90"
                data-ticks-angle="180"
                data-value-box="false"
                data-max-value="220"
                data-major-ticks="0,20,40,60,80,100,120,140,160,180,200,220"
                data-minor-ticks="2"
                data-stroke-ticks="true"
                data-highlights='[{"from": 160, "to": 220, "color": "rgba(200, 50, 50, .75)"}]'
                data-color-plate="#fff"
                data-border-shadow-width="0"
                data-borders="false"
                data-needle-type="arrow"
                data-needle-width="2"
                data-needle-circle-size="7"
                data-needle-circle-outer="true"
                data-needle-circle-inner="false"
                data-animation-duration="1500"
                data-animation-rule="linear"
        ></canvas>
    </div>
</div>
<div class="row">
    <div class="medium-6 columns example">
        <canvas data-type="radial-gauge"
                data-width="300"
                data-height="300"
                data-units="Km/h"
                data-min-value="0"
                data-start-angle="0"
                data-ticks-angle="180"
                data-value-box="false"
                data-max-value="220"
                data-major-ticks="0,20,40,60,80,100,120,140,160,180,200,220"
                data-minor-ticks="2"
                data-stroke-ticks="true"
                data-highlights='[{"from": 160, "to": 220, "color": "rgba(200, 50, 50, .75)"}]'
                data-color-plate="#fff"
                data-border-shadow-width="0"
                data-borders="false"
                data-needle-type="arrow"
                data-needle-width="2"
                data-needle-circle-size="7"
                data-needle-circle-outer="true"
                data-needle-circle-inner="false"
                data-animation-duration="1500"
                data-animation-rule="linear"
        ></canvas>
    </div>
    <div class="medium-6 columns example">
        <canvas data-type="radial-gauge"
                data-width="300"
                data-height="300"
                data-units="°C"
                data-title="Temperature"
                data-min-value="-50"
                data-max-value="50"
                data-major-ticks="[-50,-40,-30,-20,-10,0,10,20,30,40,50]"
                data-minor-ticks="2"
                data-stroke-ticks="true"
                data-highlights='[
                    {"from": -50, "to": 0, "color": "rgba(0,0, 255, .3)"},
                    {"from": 0, "to": 50, "color": "rgba(255, 0, 0, .3)"}
                ]'
                data-ticks-angle="225"
                data-start-angle="67.5"
                data-color-major-ticks="#ddd"
                data-color-minor-ticks="#ddd"
                data-color-title="#eee"
                data-color-units="#ccc"
                data-color-numbers="#eee"
                data-color-plate="#222"
                data-border-shadow-width="0"
                data-borders="true"
                data-needle-type="arrow"
                data-needle-width="2"
                data-needle-circle-size="7"
                data-needle-circle-outer="true"
                data-needle-circle-inner="false"
                data-animation-duration="1500"
                data-animation-rule="linear"
                data-color-border-outer="#333"
                data-color-border-outer-end="#111"
                data-color-border-middle="#222"
                data-color-border-middle-end="#111"
                data-color-border-inner="#111"
                data-color-border-inner-end="#333"
                data-color-needle-shadow-down="#333"
                data-color-needle-circle-outer="#333"
                data-color-needle-circle-outer-end="#111"
                data-color-needle-circle-inner="#111"
                data-color-needle-circle-inner-end="#222"
                data-value-box-border-radius="0"
                data-color-value-box-rect="#222"
                data-color-value-box-rect-end="#333"
        ></canvas>
    </div>
</div>