<div class="row">
    <div class="medium-6 columns example">
        <canvas data-type="linear-gauge"
                data-width="120"
                data-height="400"
                data-units="°C"
                data-min-value="0"
                data-max-value="220"
                data-major-ticks="0,20,40,60,80,100,120,140,160,180,200,220"
                data-minor-ticks="2"
                data-stroke-ticks="true"
                data-highlights='[
                    {"from": 100, "to": 220, "color": "rgba(200, 50, 50, .75)"}
                ]'
                data-color-plate="#fff"
                data-border-shadow-width="0"
                data-borders="false"
                data-needle-type="arrow"
                data-needle-width="2"
                data-animation-duration="1500"
                data-animation-rule="linear"
                data-tick-side="left"
                data-number-side="left"
                data-needle-side="left"
                data-bar-stroke-width="7"
                data-bar-begin-circle="false"
                data-value="75"
        ></canvas>
    </div>
    <div class="medium-6 columns example">
        <canvas data-type="linear-gauge"
                data-width="120"
                data-height="400"
                data-units="°C"
                data-min-value="0"
                data-start-angle="90"
                data-ticks-angle="180"
                data-value-box="false"
                data-max-value="220"
                data-major-ticks="0,20,40,60,80,100,120,140,160,180,200,220"
                data-minor-ticks="2"
                data-stroke-ticks="true"
                data-highlights='[
                    {"from": 100, "to": 220, "color": "rgba(200, 50, 50, .75)"}
                ]'
                data-color-plate="#fff"
                data-border-shadow-width="0"
                data-borders="false"
                data-needle-type="arrow"
                data-needle-width="2"
                data-needle-circle-size="7"
                data-needle-circle-outer="true"
                data-needle-circle-inner="false"
                data-animation-duration="1500"
                data-animation-rule="linear"
                data-bar-width="10"
                data-value="35"
        ></canvas>
    </div>
</div>
<div class="row">
    <div class="medium-6 columns example">
        <canvas data-type="linear-gauge"
                data-width="400"
                data-height="150"
                data-min-value="0"
                data-max-value="100"
                data-major-ticks="0,20,40,60,80,100"
                data-minor-ticks="10"
                data-stroke-ticks="true"
                data-color-plate="#fff"
                data-border-shadow-width="0"
                data-borders="false"
                data-bar-begin-circle="false"
                data-tick-side="left"
                data-number-side="left"
                data-needle-side="left"
                data-needle-type="line"
                data-needle-width="3"
                data-color-needle="#222"
                data-color-needle-end="#222"
                data-animation-duration="1500"
                data-animation-rule="linear"
                data-animation-target="plate"
                data-bar-width="5"
                data-ticks-width="50"
                data-ticks-width-minor="15"
        ></canvas>
    </div>
    <div class="medium-6 columns example">
        <canvas data-type="linear-gauge"
                data-width="400"
                data-height="150"
                data-units="°C"
                data-title="Temperature"
                data-min-value="-50"
                data-max-value="50"
                data-major-ticks="[-50,-40,-30,-20,-10,0,10,20,30,40,50]"
                data-minor-ticks="5"
                data-stroke-ticks="true"
                data-ticks-width="15"
                data-ticks-width-minor="7.5"
                data-highlights='[
                    {"from": -50, "to": 0, "color": "rgba(0,0, 255, .3)"},
                    {"from": 0, "to": 50, "color": "rgba(255, 0, 0, .3)"}
                ]'
                data-color-major-ticks="#ffe66a"
                data-color-minor-ticks="#ffe66a"
                data-color-title="#eee"
                data-color-units="#ccc"
                data-color-numbers="#eee"
                data-color-plate="#2465c0"
                data-color-plate-end="#327ac0"
                data-border-shadow-width="0"
                data-borders="false"
                data-border-radius="10"
                data-needle-type="arrow"
                data-needle-width="3"
                data-animation-duration="1500"
                data-animation-rule="linear"
                data-color-needle="#222"
                data-color-needle-end=""
                data-color-bar-progress="#327ac0"
                data-color-bar="#f5f5f5"
                data-bar-stroke="0"
                data-bar-width="8"
                data-bar-begin-circle="false"
        ></canvas>
    </div>
</div>